server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, info
  endpoint:
    health:
      show-details: when-authorized
  metrics:
    tags:
      application: query-service

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: query-service-order-read-model